@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    font-family: 'Lora';
    max-width: 1040px;
    margin: 0 auto;  
}
header{
    display:block;
    text-align: center;
    background-image: url("yaopey-yong-L5RlYhmWah0-unsplash-cropped.jpg");
    justify-content: center;
    height:200px;
    background-size: cover;
}
h1{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);
    padding: .2em;
}
/* body{
    max-height: 500px;
 }
  */
 .content{
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: .25fr 5fr;
     /* gap: 1em; */
     /* background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg"); */
     /* height:70vh; */
     width: 100%;
     /* background-size: cover; */
     /* justify-content: center; */
     background-color: rgb(9, 85, 60);
 }
 
 .search{
     background-color: blanchedalmond;
     /* opacity: 75%; */
     align-content: center;
     padding: .5em;
     /* grid-column: 1; */
     grid-row:1;
     max-width:80%;
     height: auto;
     margin: 1em;
     box-shadow: 5px 5px;
 }
 
 button{
     background-color: rgba(10, 149, 173, 0.651);
     margin:.5em;
     padding: .75em;
     border-radius: 18%;
 }
 button:hover{
     transform: scale(1.25);
 }
 /* #ing-input{
    display:none; 
    color:red;
    font-size: x-small;
    grid-row: 2;
 } */
 .recipe-info{    
     /* grid-column: 1; */
     grid-row: 2;
     display: grid;
     /* grid-template-columns: 1fr; */
     grid-template-rows: 1fr .25fr 1fr 1fr;
     max-width: 100%;
     /* justify-content:left; */
     /* gap: 5px 5px; */
     padding: 1em;
 }
 
 .results{
     display: none;
     background-color:  blanchedalmond;
     padding: 2em;
     /* grid-column: 1; */
     grid-row: 1;
     /* margin: 1em; */
     width:80%;
     height: max-content;
     box-shadow: 5px 5px;
 }
 .results ul{
     padding: .5em;
     list-style: disc;
     padding: .5em;
     
 }
 .results ul li a{
     text-decoration: none;
     color: black;
     padding: .5em;
 }
 .results ul li a:hover{
     text-decoration: wavy underline red;
 }
 
 .recipe-title{
     display: none;
     background-color:  blanchedalmond;
     padding: 1em;
     /* grid-column: 2; */
     grid-row:2;
     width:80%;
     height:max-content;
     /* align-content: center; */
     /* margin-bottom: 2rem; */
     margin-top: 1em;
     /* margin-bottom: 2px; */
     box-shadow: 2px 2px;
 }
 .recipe{
     display: none;
     background-color:  blanchedalmond;
     padding: 1em;
     /* grid-column:2; */
     grid-row:3;
     margin-top: 1em;
     width:80%;
     height: auto;
     overflow-y: auto;
     box-shadow: 5px 5px;
 
 }
 
 .picture{
     display: none;
     /* background-color:  #ffffff; */
     padding: 1em;
     /* grid-column:2; */
     grid-row: 4;
     /* margin-bottom: 5em; */
     max-width: 60%;
     height:auto;
     /* justify-content: center; */
     /* box-shadow: 2px 2px; */
 
 }
 img{
     max-width: 60%;
     height: auto;
     box-shadow: 5px 5px;
 }
 
 footer{
     color:blanchedalmond;
     text-align: center;
     justify-content: center;
     background-color: rgb(9, 85, 60);  
 }
 
 .photo-credits a{
     color: blanchedalmond;
     text-decoration: none;
 }
 
 .photo-credits a:hover{
     color:rgba(10, 149, 173, 0.651);
 }


@media (min-width :800px){
/* body{
   max-height:750px;
} */

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    /* gap: 1em; */
    background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
    height:100vh;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-content: center;
}

.search{
    background-color: blanchedalmond;
    /* opacity: 75%; */
    padding: .5em;
    max-width:50%;
    grid-column: 1 /span 3;
    grid-row:1;
    height: max-content;
    margin-top: 2em;
    box-shadow: 5px 5px;
    justify-self: center;
    align-content: center;
}

button{
    background-color: rgba(10, 149, 173, 0.651);
    margin:.5em;
    padding: .75em;
    border-radius: 18%;
}

.recipe-info{    
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 8vh 25vh 25vh;
    max-width: 100%;
    /* justify-content:left; */
    /* gap: 5px 5px; */
    padding: .5em;
}

.results{
    display: none;
    background-color:  blanchedalmond;
    padding: .5em;
    grid-column: 1;
    /* grid-row: 1 / span 3; */
    /* margin: 1em; */
    width: 40vh;
    height: max-content;
    box-shadow: 5px 5px;
}
.results ul{
    padding: 1.5em;
    list-style: disc;

}
.results ul li a{
    text-decoration: none;
    color: black;
    padding: .5em;
}
.results ul li a:hover{
    text-decoration: wavy underline red;
}

/* .recipe-title{
    display: none;
    background-color:  blanchedalmond;
    padding: 1em;
    grid-column: 2;
    grid-row:1;
    width: 90%;
    height:max-content;
    box-shadow: 2px 2px;
} */
.recipe{
    display: none;
    background-color:  blanchedalmond;
    padding: 1em;
    grid-column:2;
    grid-row:1;
    width: 90%;
    height: 52vh;
    overflow-y: auto;
    box-shadow: 5px 5px;
    margin-top: 5px;

}

.picture{
    display: none;
    /* background-color:  #ffffff; */
    padding: 1em;
    grid-column:2;
    grid-row: -1;
    margin-bottom: 2em;
    max-width: 80%;
    height:auto;
    /* justify-content: center; */
    /* box-shadow: 2px 2px; */

}
img{
    max-width: 80%;
    height: auto;
    box-shadow: 5px 5px;
}

footer{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);  
}

.photo-credits a{
    color: blanchedalmond;
    text-decoration: none;
}

.photo-credits a:hover{
    color:rgba(10, 149, 173, 0.651);
}

/* end media query */
} 

/* @media (max-width :800px){
    .content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: .25fr 1fr 1fr;
        max-width: auto;
        background-image: none;
    }

    .search{
        grid-row: 1;
    }
    .results{
        grid-row: 2;
        width: 
    }
    .recipe-info{
        grid-row: 3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


} */