@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    font-family: 'Lora';
    max-width: 1040px;
    margin: 0 auto;  
    /* background-color: black; */

}
header{
    text-align: center;
    background-image: url("yaopey-yong-L5RlYhmWah0-unsplash-cropped.jpg");
    justify-content: center;
    height:200px;
    background-size: cover;
}
h1{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);
}

body{
   /* background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
   background-size: cover; */
   max-height: 500px;
}
/* main{
    display: grid;
    grid-template-columns: 2;
    grid: gap 1em;
    background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
    background-size: cover;
    margin:0;
    max-height: 1500px;
    max-width: max-content;
} */
.content{
    display: grid;
    grid-template-columns: 2;
    grid: gap 1em;
    background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
    background-size: cover;
    /* max-height: 1500px; */
}
.recipe-info{
    display: none;
}

.search{
    background-color: #ffffff;
    padding: .5em;
    grid-column: 1;
}

.results{
    background-color:  #ffffff;
    padding: .5em;
    grid-column: 1;
    grid-row: 2;
}

.recipe-title{
    background-color:  #ffffff;
    padding: .5em;
    grid-column: 2;
    grid-row:2;
}
.recipe{
    background-color:  #ffffff;
    padding: .5em;
    grid-column:2;
    grid-row:3;
}

.picture{
    background-color:  #ffffff;
    padding: .5em;
    grid-column:2;
    grid-row:4;
}

footer{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);
  
}