@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
*{
    font-family: 'Lora';
    max-width: 1040px;
    margin: 0 auto;  
}
header{
    text-align: center;
    background-image: url("yaopey-yong-L5RlYhmWah0-unsplash-cropped.jpg");
    justify-content: center;
    height:200px;
    background-size: cover;
}
h1{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);
    padding: .2em;
}

body{
   max-height: 500px;
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    /* gap: 1em; */
    background-image: url("jason-briscoe-GliaHAJ3_5A-unsplash.jpg");
    height:70vh;
    width: 100%;
    background-size: cover;
    /* justify-content: center; */
}

.search{
    background-color: #ffffff;
    opacity: 75%;
    padding: .5em;
    grid-column: 1 / span 3;
    grid-row:1;
    height:max-content;
    margin-top: 2em;
}

button{
    background-color: rgba(10, 149, 173, 0.651);
    margin:.5em;
    padding: .25em;
    border-radius: 30%;
}

.recipe-info{    
    grid-column: 1 / span 3;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5,1fr);
    opacity: 75%;
    width: 100%;
    justify-content:left;
    gap: 10px 20px;
    padding: 1em;
}

.results{
    display: none;
    background-color:  #ffffff;
    padding: .5em;
    grid-column: 1;
    grid-row: 1 / span 6;
    margin: 1em;
    width: 100%;
}
.results ul{
    padding: .5em;
    list-style: none;
}
.results ul li a{
    text-decoration: none;
    color: black;
    padding: .1em;
}
.results ul li a:hover{
    text-decoration: wavy underline red;
}

.recipe-title{
    display: none;
    background-color:  #ffffff;
    padding: .5em;
    grid-column: 2;
    grid-row:1;
    width: 100%;
    /* margin: 1em; */
}
.recipe{
    display: none;
    background-color:  #ffffff;
    padding: .5em;
    grid-column:2;
    grid-row:2 / span 3;
    width: 100%;
}

.picture{
    display: none;
    background-color:  #ffffff;
    padding: .5em;
    grid-column:2;
    grid-row: 4 / span 6;
    margin-bottom: 1em;
    width: 100%;
}

footer{
    color:blanchedalmond;
    text-align: center;
    justify-content: center;
    background-color: rgb(9, 85, 60);  
}

.photo-credits a{
    color: blanchedalmond;
    text-decoration: none;
}

.photo-credits a:hover{
    color:rgba(10, 149, 173, 0.651);
}